<div class="row" *ngIf="showCards">
    <div class="col-sm-5">
      <div class="card">
        <img class="card-img-top h-50 w-50 mt-3" src="assets/images/student.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Developers</h5>
          <p class="card-text">Creates the project and give updates to handler.</p>
          <!-- <a href="#" class="btn btn-primary" (click)="showDevelopers=true; showCards=false">View</a> -->
          <a routerLink="./developers" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <img class="card-img-top h-50 w-50 mt-3" src="assets/images/handler.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Project Handlers</h5>
          <p class="card-text">Monitors the developers, and their projects.</p>
          <!-- <a href="#" class="btn btn-primary" (click)="showHandlers=true; showCards=false">View</a> -->
          <a routerLink="./handlers" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>

<!-- <app-developer *ngIf="showDevelopers"></app-developer> -->
